{
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jsx-a11y/recommended"],
  "rules": {
    "react/jsx-pascal-case": "error",
    "react/jsx-wrap-multilines": "error",
    "react/jsx-closing-bracket-location": "error",
    "react/sort-comp": "error",
    "jsx-quotes": ["error", "prefer-double"]
  }
}
