[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
graphene = ">=2.0"
graphene-sqlalchemy = ">=2.0"
flask-graphql = "*"
flask-cors = "*"
snapshottest = "*"

[dev-packages]

[requires]
python_version = "3.6"
