[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
graphene = ">=2.0"
flask-graphql = "*"
flask-cors = "*"
snapshottest = "*"
sqlalchemy-utils = "*"
passlib = "*"
pyjwt = "*"
graphene-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
