section.blog-list {
  padding: 5vh 5vw;
  border-bottom: 1px solid rgb(35, 36, 45);
  transition: background-color 500ms ease-in, color 500ms ease-in;
}

section.blog-list:hover {
  background-color: rgba(12, 96, 170, 0.3);
}

.ui.basic.blue.label {
  background-color: rgba(14, 42, 118, 0.4) !important;
  font-size: 0.9em;
}

section.blog-list .tag-container {
  margin-top: 1rem !important;
}

@media only screen and (min-width: 992px) {
  section.blog-list .tag-container {
    text-align: right;
    margin-top: 0 !important;
  }
}

section.blog-list summary {
  color: rgba(157, 204, 254, 0.8);
  font-size: 1.1em;
}

section.blog-list .blog-meta-divider {
  margin: 0 0.5rem;
}

article.blog-post {
  padding-top: 3vh;
  color: white;
}

article.blog-post .blog-post-meta {
  color: rgba(157, 204, 254, 0.8);
}

article.blog-post .blog-post-meta span:not(:first-child) {
  margin-left: 1vw;
}

article.blog-post main {
  margin: 2vh 0 5vh 0;
}
